.h1 {
  font-size: 20px;
  margin-top: -20px;
}
.underLine {
  border-bottom: 2px solid silver;
  position: absolute;
  height: 2px;
  margin-top: -30px;
  width: 100%;
}
.closeIcon {
  margin-left: 90%;
  cursor: pointer;
}
.form {
  place-items: center;
  display: grid;
}
.label2 {
  font-size: 14px;
  margin-left: -56%;
  margin-bottom: 5px;
  font-weight: bold;
}
.label1 {
  font-size: 14px;
  margin-left: -63%;
  margin-bottom: 5px;
  font-weight: bold;
}
.password-validations {
  font-weight: 400;
  margin-left: 30px;
}
.input {
  background: rgb(246, 246, 250);
  border: 1px solid rgb(209, 209, 213);
  caret-color: rgb(0, 106, 255);
  font-weight: 400;
  font-size: 15px;
  border-radius: 4px;
  outline: 0;
  padding: 9px 16px;
  color: rgb(42, 42, 51);
  width: 250px;
  height: 25px;

  box-shadow: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
}
