<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\RealEstateAdmin.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
			<!-- Configure security settings -->
			<security>
				<!-- Remove the server header, which can reveal information about the server -->
				<requestFiltering removeServerHeader="true" />
			</security>
			<!-- Configure HTTP headers -->
			<httpProtocol>
				<customHeaders>
					<!-- Set X-Content-Type-Options header to prevent content sniffing -->
					<add name="X-Content-Type-Options" value="nosniff" />
					<!-- Remove X-Powered-By header, which can reveal information about the server -->
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>

</configuration>